.metadata/*
publication/*
pdfbin/*
/**/target/*
.settings/
.idea/*
Servers/*
.recommenders/*
/.metadata/
/.recommenders/
/**/target/*
.settings/
/*/bin/*
.externalToolBuilders/
*.MF
*.class
*.log
*.project
*.bak
*.classpath
# Package Files #
*.jar
*.war
*.ear
.svn
bin/
/.metadata/
/.recommenders/
*.iml
.idea/*
*/mvnw
*/mvnw.cmd
*/HELP.md
*/.factorypath
*/.springBeans
*/.apt_generated/ 
*/.apt_generated_tests/
*/.mvn/
/**/overlays/*
